{% extends "base.html" %}

{% block title %}
<title>Threat Actor: {{actor.name}}</title>
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/static/d3/d3.js"></script>
<link rel="stylesheet" type="text/css" href="/static/psd3/psd3.css">
<script type="text/javascript" src="/static/psd3/psd3.js"></script>
<script>
$(document).ready(
    function(){
        $("select#id_relation").change(function(){
            $.ajax({
                type: 'POST',
                data: {
                    relation:$('#id_relation').val(),
                    csrfmiddlewaretoken:'{{csrf_token}}',
                },
                success: function(result){
                    form = $(result).find("#create_form");
                    $("#create_form").html(form);
                }
            });
        });
    }
);
</script>
{% endblock%}

{% block container %}

<div class="modal" id="actor_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Threat Actor</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<div class="col-md-12">
<div class="col-md-7">
Name:
{{form.name}}
Alias:
{{form.aliases}}
Description:
{{form.description}}
</div>
<div class="col-md-5">
Labels:
{{form.labels}}
</div>
</div>
<input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
<input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="add_tgt" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Add Target</h4>
</div>
<div class="modal-body">
<form id="add_tgt_form" method="post">{% csrf_token %}
{{atform}}
<input class="btn btn-primary btn-sm" type="submit" name="add_tgt" value="Add">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="object_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Object</h4>
</div>
<div class="modal-body">
<form id="select_form" method="post">{% csrf_token %}
<div >{{drform}}</div>
<div id="create_form" >
{% if oform %}
<hr>
<table>
{{oform.as_table}}
</table>
<input class="btn btn-primary btn-sm" type="submit" name="create_obj" value="Create">
{% endif %}
</div><!--/#create_form-->
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->


<div class="col-md-12" id="actor" >

<div class="panel panel-primary">

<div class="panel-heading">
<div  >
<h4>
<a class="btn btn-default btn-xs" href="">{{actor.id}}</a>
<a class="btn btn-warning btn-xs" data-toggle="modal" href="#actor_form">Edit</a>
<a data-toggle="collapse" href="#actor_body" style="color:white">
{{actor.name}}
({{actor.object_id}})
</a>
</h4>
</div>
</div><!--.panel-heading-->

<div id="actor_body" class="panel-collapse collapse in">

<div class="panel-body">

<div class="col-md-12">

<div class="col-md-3">
<table class="table table-condensed">
<tr><th class="col-md-3">Aliases</th>
<td>
{% for a in actor.aliases.all %}
{{a.name}}<br>
{% endfor %}
</td></tr>
<tr><th class="col-md-3">Labels</th>
<td>
{% for l in actor.labels.all %}
{{l.value}}<br>
{% endfor %}
</td></tr>
</table>
</div>

<div class="col-md-3">
<table class="table table-condensed">
<tr>
<th class="col-md-4">Created</th><td>{{actor.created}}</td></tr>
<th >Modified</th><td>{{actor.modified}}</td></tr>
</table>
</div>

<div class="col-md-6">
<table class="table table-condensed">
<tr>
<th class="col-md-3">Description</th>
<td><pre>{{actor.description}}</pre></td>
</tr>
</table>
</div>

</div>

</div><!--/.panel-body-->

</div><!--/.collapse-->

</div><!--/.panel-->

</div><!--/report-->

{% if stix %}
<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
<a data-toggle="collapse" href="#collapse2" style="color:white;">
STIX
</a></div><!--/.panel-heading-->
<div id="collapse2"class="panel-collapse collapse">
<div class="panel-body">
<textarea id="stix" read-only style="height:500px;">{{stix}}</textarea>
</div><!--/.panel-body-->
</div><!--/.panel-collapse-->
</div><!--/.panel-->
</div>
{% endif %}

<div id="tables" class="col-md-12">
<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#relation">Relationship</a></li>
  <li ><a data-toggle="tab" href="#objects">Objects</a></li>
</ul>

<div class="panel panel-primary">
<div class="panel-heading"></div>
<div class="panel-body">

<div class="tab-content">

<div class="tab-pane" id="objects" >
<table id="objects_table" class="table table-condensed table-stripe table-hover display" width="100%">
<!--
<a class="btn btn-primary btn-md" data-toggle="modal" href="#object_form">Create</a>
-->
<thead><tr>
<th class="col-md-1">ID</th>
<th class="col-md-2">Type</th>
<th class="col-md-2">Name</th>
<th class="col-md-2">Label</th>
<th class="col-md-5">Object ID</th>
</tr></thead>
<tbody>
{% for o in objects %}
<tr>
<td><a class="btn btn-primary btn-xs"href="/{{o.object_type.name}}/{{o.id}}">{{o.id}}</td>
<td>{{o.object_type.name}}</td>
<td>{{o.name}}</td>
<td>
{% if o.labels %}
{% for l in o.labels.all %}
{{l.value}}<br>
{% endfor %}
{% endif %}
</td>
<td>{{o.object_id.object_id}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--/#identity-->

<div class="tab-pane active" id="relation" >
Add
<a class="btn btn-primary btn-sm" data-toggle="modal" href="#add_tgt">Target</a>
<table id="relation_table" class="table table-condensed table-stripe table-hover display" width="100%">
<thead>
<th class="col-md-1">ID</th>
<th class="col-md-2">Source</th>
<th class="col-md-2">Type</th>
<th class="col-md-2">Target</th>
<th class="col-md-5">Ref</th>
</thead>
<tbody>
{% for rel in rels %}
<tr>
<td>{{rel.id}}</td>
<td>
{% for obj in objects %}
{% ifequal obj.object_id rel.source_ref %}
{{obj.name}}
{% endifequal %}
{% endfor %}
</td>
<td>{{rel.relationship_type}}</td>
<td>
{% for obj in objects %}
{% ifequal obj.object_id rel.target_ref %}
{{obj.name}}
{% endifequal %}
{% endfor %}
</td>
<td>{{rel.object_id}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!--/#identity-->

</div><!--/tab-content-->

</div><!--/.panel-body-->
</div><!--/.panel-->

</div><!--/tables-->

{% endblock %}
