{% extends "base_view.html" %}

{% block visjslib %}{% endblock %}
{% block jquery %}
<script>
$(document).ready(
    function(){
        $("select#id_relation").change(function(){
            $.ajax({
                type: 'POST',
                data: {
                    relation:$('#id_relation').val(),
                    csrfmiddlewaretoken:'{{csrf_token}}',
                },
                success: function(result){
                    form = $(result).find("#create_form");
                    $("#create_form").html(form);
                }
            });
        });
    }
);
</script>
{% endblock%}

{% block modal %}
<div class="modal" id="obj_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Identity</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<div class="col-md-12">
<div class="col-md-6">Name:{{form.name}}
<hr>Class:{{form.identity_class}}
<hr>Description:{{form.description}}</div>
<div class="col-md-6">
Sectors:{{form.sectors}}
<hr >Labels:{{form.labels}}</div>
</div>
<input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
<input class="btn btn-danger btn-sm" type="submit" name="delete" value="Delete">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

<div class="modal" id="sight_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Add Sighting</h4>
</div>
<div class="modal-body">
<form id="sight_form" method="post">{% csrf_token %}
{{sform.as_p}}
<input class="btn btn-primary btn-sm" type="submit" name="add_sight" value="Add">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->
{% endblock %}

