{% extends "base.html" %}

{% block title %}
<title>Identity</title>
{% endblock %}

{% block visjslib %}{% endblock %}
{% block jquery %}
<script>
function ChangeRight(id){
    $.ajax({
        "url":"/report/"+id,
        "type":"GET",
        "success":function(result){
            data = $(result).find("textarea#stix");
            $("#stix").html(data);
        }
    });
};
$(document).ready(
    function(){
        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        } );
	$('#identity_table').dataTable({
            "processing":true,
            "serverSide":true,
            "ajax": "{% url 'identity_data' %}",
            "order":[0, 'desc'],
        });
        //$('#id_firstseen').datetimepicker({
        //        format:'Y-m-d H:i'
        //});
    }
);
</script>
{% endblock%}

{% block container %}

{% block modal %}
<div class="modal" id="identity_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Identity</h4>
</div>

<div class="modal-body">
<form method=post>{% csrf_token %}
<div class="col-md-12">

<div class="col-md-6">Name:{{form.name}}
<hr >Class:{{form.identity_class}}
<hr>Description:{{form.description}}
</div>

<div class="col-md-6">Sectors:{{form.sectors}}
Labels:{{form.labels}}
</div>

</div>
<input class="btn btn-primary btn-sm" type="submit" name="create" value="create">
</form>
</div><!--/.modal-body-->

</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->
{% endblock %}

<div class="col-md-12">

<div id="left_pane" class="col-md-6">
<h3 style="margin-top: 0">Identity
<a class="btn btn-primary btn-sm" data-toggle="modal" href="#identity_form">Create</a>
</h3>
<hr>

<table id="identity_table" class="table table-condensed table-stripe table-hover display" width="100%">
<thead><tr>
<th class="col-md-2">ID</th>
<th class="col-md-4">Name</th>
<th class="col-md-3">Sectors</th>
<th class="col-md-3">Labels</th>
</tr></thead>
</table>

</div><!--/.left-pane-->

<div id="right_pane" class="col-md-6">
<div class="panel panel-primary">

<div class="panel-heading">
</div>
<div class="panel-body">
<table>
</table>
</div><!--/.panel-body-->
</div><!--/.panel-->
</div><!--/.right_pane-->

{% endblock %}
