{% extends "base_view.html" %}

{% block modal_edit %}
<div class="modal" id="obj_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Edit Report</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
<table class="table table-condensed">
<div class="col-md-12">
<div class="col-md-7">
Name:
{{form.name}}
<hr>
Published:
{{form.published}}
<hr>
Description:
{{form.description}}
</div>
<div class="col-md-5">
Labels:
{{form.labels}}
</div>
</div>
</table>
<input class="btn btn-primary btn-sm" type="submit" name="update" value="Update">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->
</div><!--/.modal-->


<div class="modal" id="detach_form" role="dialog">
<div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Detach Ref</h4>
</div>
<div class="modal-body">
<form method="post">{% csrf_token %}
{{rform.object_refs}}
<input class="btn btn-warning btn-sm" type="submit" name="detach" value="Detach">
</form>
</div><!--/.modal-body-->
</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->

{% endblock %}
