{% extends "base_list.html" %}

{% block vislib %}
<link rel="stylesheet" type="text/css" href="/static/stixviz/app.css" />
{% endblock%}

{% block modal %}
<div class="modal" id="report_form" role="dialog">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Report</h4>
</div>

<div class="modal-body">
<form method=post>{% csrf_token %}

<div class="col-md-12">

<div class="col-md-7">
Name:{{form.name}}
<hr>
Description:{{form.description}}
</div>

<div class="col-md-5">
Labels:{{form.labels}}
</div>

</div>

<input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
</form>
</div><!--/.modal-body-->

</div><!--/.modal-content-->
</div><!--/.modal-dialog-->
</div><!--/.modal-->
{% endblock %}

{% block top_pane %}
<div id="canvas-container" class="hidden">
<div class="panel panel-primary">
<div class="panel-heading">
<h1 id="header">Vizualize</h1>
</div>
<div class="panel-body">
<div id="canvas-wrapper"><svg id="canvas"></svg></div>
<div id="legend" class="sidebar">
<h2>Legend</h2>
<ul id="legend-content"></ul>
</div>
<div id="selected" class="sidebar">
<h2>Selected Node</h2>
<div id="selection"></div>
</div>
</div><!--/.pannel-body-->
</div><!--/.pannel-->
</div><!--/.canvas-container-->
{% endblock %}

{% block left_thead %}
<th class="col-md-2">ID</th>
<th class="col-md-6">Name</th>
<th class="col-md-4">Publisher</th>
{% endblock %}

{% block right_pane %}
<div id="report_right" class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
STIX
</div>
<div class="panel-body">
<div id="stix_tab">
<p>Click ID   -> view STIX</p>
<p>Click Name -> view Report</p>
</div>
</div><!--/.panel-body-->
</div><!--/.panel-->
</div><!--/.col-md-6-->
{% endblock %}

{% block stixvizlib %}
<script type="text/javascript" src="/static/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/stixviz/stix2viz.js"></script>
<script type="text/javascript" src="/static/stixviz/app.js"></script>
{% endblock %}

