{% extends "base.html" %}

{% block container %}

<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">{{target}}</div>
<div class="panel-body">

<div class="col-md-7" style="margin: 0 auto;height:500px" id="network" ></div>

<div class="col-md-5" >
<form method=post>{% csrf_token %}
<div class="col-md-12">
<div class="col-md-7" >
<p>types</p>
{{tsform.types}}
</div>
<div class="col-md-5" >
<p>relation</p>
{{tsform.relation}}
</div>
</div>
<input type="submit" value="exclude">
</form>
</div>

</div><!--/panel-body-->
</div><!--/panel-->
</div>

<script type="text/javascript">
var nodes = [
{% for n in nodes %}{
	'id':'{{n.id}}',
	'label':'{{n.label}}',
	'group':'{{n.group}}',
	'title': '<table>{% for t in n.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];

var edges = [
{% for e in edges %}{
	'from':'{{e.from}}',
	'to':'{{e.to}}',
	'label':'{{e.label}}',
	'title': '<table>{% for t in e.title %}<tr><td>{{t|escapejs}}</td></tr>{% endfor %}</table>',
},
{% endfor %}];
var network = visNetwork(nodes, edges);
</script>

</div>
{% endblock%}
